body {
  background-color: rgb(151, 165, 170);
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* .tasksDisplay{
} */

.box{
  background-color: aliceblue;
  width: 50rem;
  height: fit-content;
  border-radius: 20px;
  color: black;
  text-align: justify;
  /* padding-top: 1rem; */
  padding-left: 1rem;
  margin-top: 1rem;
}

.buttons{
  display: flex;
  flex-direction: row-reverse;
  align-items: end;
  justify-items: end;
}

.pill p {
  background-color: lightslategray;
  border-radius: 20px;
  width: fit-content;
  font-size: small;
  font-style: italic;
  padding: 5px;
  margin: 10px;
}

.titleContainer{
  font-variant: small-caps;
  width: 49rem;
  height: 3rem;
  border-bottom: 1px solid gray;

  display: inline-flex;
  justify-content: space-between;
}

.sign{
  margin-right: 1rem;
}

.content{
  color: gray;
}

.pill-create p{
  background-color: rgb(255, 255, 255);
  border-radius: 100px;
  width: 4rem;
  font-size:x-large;
  font-style: bold;
  padding: 2px;
  margin: 10px;
}

a {
  text-decoration: none;
  color: black;
}

.create{
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter {
  /* background-color: red; */
  width: fit-content;

  display: flex;
}

.formContainer{
  margin-top: 2rem;
  align-items: start;
  justify-content: start;
  text-align: start;
}

.formContainer div{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.formContainer textarea{
  resize: none;
  display: flex;
}