<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% if title %}{{ title }} | {% endif %} Blog</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
  </head>
  {% include "header.html" %} 
  <body>
    <div class="filter">
      <span class="pill">
        <p> <a href="{% url 'tasks:task-list' %}">Ver Todo</a></p>
      </span>
      <span class="pill">
        <p> <a href="{% url 'tasks:task-list-pending' %}">Ver Pendientes</a></p>
      </span>
      <span class="pill">
        <p> <a href="{% url 'tasks:task-list-completed' %}">Ver Completadas</a></p>
      </span>
    </div>
    
    <div class="container">
        {% block content %}
          
        {% endblock %}
    </div>
  </body>
</html>