{% extends "base.html" %}

{% load static %}
  {% block content %}        
    <div class="create">
      <span class="pill-create">
        <p><a href="{% url 'tasks:task-add'%}"> + </a></p>
      </span>
    </div>
      {% if tasks|length > 0 %}
        <div class="tasksDisplay">
          {% for task in tasks %}
            <div class="box">
              <div class="top-border">
                <div class="titleContainer">
                  <h3 class="title">{{ task.name }}</h3>
                  <h3 class="sign"> <a href="{% url 'tasks:task-toggle' task.slug %}"> {% if task.completed %} Completada ✅ {% else %} Pendiente ❌ {% endif %}</a> </h3>
                </div>
                <p class="content"> {{task.description | truncatewords:8 }}</p>
              </div>
              <br>
              <div class="buttons">
                <span class="pill">
                  <p><a href="{% url 'tasks:task-delete' task.slug %}"> 🗑️ Eliminar </a></p>
                </span>
                <span class="pill">
                  <p><a href="{% url 'tasks:task-edit' task.slug %}"> 📝 Editar </a></p>
                </span>
                <span class="pill">
                  <p><a href="{% url 'tasks:task-detail' task.slug %}">Leer más</a></p>
                </span>
              </div>
            </div>
          {% endfor %}
        </div>
      {% else %}
        <h3>Nada que hacer. ¡Enhorabuena!</h3>
      {% endif %}
  {% endblock %}