{% extends "base.html" %}

{% load static %}
  {% block content %}        
    <div class="create">
      <span class="pill-create">
        <p><a href="{% url 'tasks:task-add'%}"> + </a></p>
      </span>
    </div>
      {% if tasks|length > 0 %}
        <div class="tasksDisplay">
          {% for task in tasks %}
            <div class="box">
              <div class="top-border">
                <h3 class="title">{{ task.name }} {% if task.completed %} ✅ {% else %} ❌ {% endif %}</h3>
                <p class="content"> {{task.description | truncatewords:5 }}</p> {% comment %} truncar a partir de 10 o 20 más adelante {% endcomment %}
              </div>
              <br>
              <div class="buttons">
                <span class="pill">
                  <p><a href="{% url 'tasks:task-edit' task.slug %}">Edit here</a></p>
                </span>
                <span class="pill">
                  <p><a href="{% url 'tasks:task-detail' task.slug %}">Read more</a></p>
                </span>
              </div>
            </div>
          {% endfor %}
        </div>
      {% else %}
        <h3>Nada que hacer. ¡Enhorabuena!</h3>
      {% endif %}
  {% endblock %}