{% extends "base.html" %} {% load static %} {% block content %} {% comment %}
<div class="goBack">
  <a href="{% url 'posts:post-list' %}"><- Volver a los posts</a>
</div>
{% endcomment %}

<div class="formContainer">
  <form method="post" novalidate>
    {%csrf_token %} 
    {{ form }}
    <div class="form-btn">
      <input type="submit" value="Enviar" />
      <span class="pill">
        <p><a href="{% url 'tasks:task-list' %}">Cancelar</a></p>
      </span>
    </div>
  </form>
</div>
{% endblock %}
