{% extends "base.html" %}

{% load static %}     

  {% block content %}
    <div class="box">
      <div class="top-border">
        <div class="titleContainer">
          <h3 class="title">{{ task.name }}</h3>
          <h3 class="sign"> {% if task.completed %} Completada ✅ {% else %} Pendiente ❌ {% endif %} </a></h3>
        </div>        
        <p class="content"> {{task.description}}</p>
      </div>
      <br>
      <div class="buttons">
        <span class="pill">
          <p><a href="{% url 'tasks:task-edit' task.slug %}">📝 Editar</a></p>
        </span>
        <span class="pill">
          <p><a href="{% url 'tasks:task-delete' task.slug %}"> 🗑️ Eliminar</a></p>
        </span>
      </div>
    </div>

    <div class="back-btn">
      <span class="pill">
        <p><a href="{% url 'tasks:task-list' %}"> Volver </a></p>
      </span>
    </div>
  {% endblock %}
